body{
    background-image: url('/assets/BG.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
    font-weight: lighter;
}
.whole{
    display: grid;
    grid-template-columns: 45% 55%;
    height: 100%;
}
.formside{
    padding: 10%;
    background-color: rgba(248, 246, 217, 0.60);
    display: flex;
    flex-direction: column;
    column-gap: 50px;
    margin: 10%;
}
.gsign p{
    display:flex;
    flex-direction: row;
    gap: 10px;
    border-style:solid;
    border-width: 1px;
    border-color: rgb(108, 243, 96);
    height: 25px;
    padding-left: 30%;
}
.gsign img{
    height: 15px;
    width: 15px;
}
input{
    width:100%;
    height: 20px;
    border-radius: 5%;
    border-width: 1px;
    

}
button{
    width: 100%;
    color: rgb(247, 247, 247);
    background-color: rgb(6, 216, 6);
    border-width: 0cap;
    height: 25px;
    border-radius: 5%;
}
form{
    gap: 20%;
}
p{
    text-align: center;
}

@media only screen and (max-width: 680px) {

    .whole{
        display: flex;
        flex-direction: row;
        height: 100%;
    }
    body{
    height:cover;
    }
    .gsign p{
        font-size: .7rem;
        text-align: center;
    }
}